<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462960524134-1ke7ptadjtufd66osq60lb73ng1am5ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462960524134-1ke7ptadjtufd66osq60lb73ng1am5ou</string>
	<key>API_KEY</key>
	<string>AIzaSyAXsMA-z_uLUIZ9AJYvX0IU4HDxSFLsc8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>462960524134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoTecxaMobile</string>
	<key>PROJECT_ID</key>
	<string>to-do-texca</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-texca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462960524134:ios:f69925c20baae0dded66a7</string>
</dict>
</plist>